---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div class="grid-cols-2 grid">
    <Project
      name="dotfiles"
      description="my personal system configuration"
      href="https://github.com/yoofus/dotfiles"
      icon="/projects/dotfiles.png"
    />
    <Project
      name="profile"
      description="the site your viewing rn."
      href="https://github.com/yoofus/profile"
      icon="/kitty.png"
    />
  </div>
</Layout>
