---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <p>
    hey, you might have seen me before! my name is <b>yusof</b>, im just an
    average software engineer who enjoys sandboxing <strike>shit</strike> stuff and
    being secure and private at all times.
  </p>
  <p>
    i'm usually a chill dude, text me on any platform and ill respond as soon as
    I can.
  </p>
  <hr class="border-card-border" />
  <div class="grid-cols-2 grid gap-3">
    <Project
      name="dotfiles"
      description="my personal system configuration written for NixOS 24.05"
      href="https://github.com/yoofus/dotfiles"
      icon="/projects/dotfiles.png"
    />
    <Project
      name="profile"
      description="the site your viewing rn."
      href="https://github.com/yoofus/profile"
      icon="/projects/profile.png"
    />
  </div>
</Layout>
