---
import type { SimpleIcon } from "simple-icons";

export interface Props {
  href: string;
  icon: SimpleIcon;
  size?: number;
  color?: string;
}

const { size = 48, href, icon, color = "#8f8fef" } = Astro.props;
---

<a href={href} target="_blank" class="transition-all hover:scale-125 align-middle">
  <Fragment
    set:html={Astro.props.icon.svg.replace(
      `role="img"`,
      `role="img" width="${size}" height="${size}" fill="${color}"`
    )}
  />
  <slot />
</a>
